.jsonforms-control {
  margin-bottom: 10px;
}

.wrapper {
  max-width: 560px;
  margin: 120px auto;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

*>>>.input {
  width: 100%;
  padding: 12px 20px;
}